.form-wrapper2 span {
  font-family: 'Ubuntu', sans-serif;
  color: #05386b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.form-wrapper2 .cardError {
  display: none;
}
